<div class="todo-container">
    <form (submit)="addNewTodo()">
        <input class="todo-input" type="text" name="inputText" [(ngModel)]="inputText" placeholder="Write a new todo...">
        <input type="submit" value="Add to list">
    </form>
    <div *ngFor="let todo of todos; let i = index; " class="todo-item">
        <div class="content {{ todo.completed ? 'completed' : ''}}" (click)="markAsDone(i)">{{ todo.content }}</div>
        <button class="btnRemove" (click) ="deleteTodoItem(i)">Delete</button>
    </div>
</div>
